name: Workflow for Webhook

on: push

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build and Test
      shell: bash
      run: |
        echo "Build and Test as asdfsdf asdf asdfs sadfsd asdfsdff bbccccdddd asdfd asdf yyyyy asd asdf   asdfdf "
        
    - name: Failed Build
      if: failure()
      run: echo "BUILD_STATE=failed" >> $GITHUB_ENV
    - name: Parse Jira Keys from Commit
      id: jira_keys
      if: always()
      uses: HighwayThree/jira-extract-issue-keys@master
      with:
        is-pull-request: ${{ github.event_name == 'pull_request' }}
        parse-all-commits: ${{ github.event_name == 'push' }}
      
    - name: Push Build Info to Jira
      if: steps.jira_keys.outputs.jira-keys != ''
      id: push_build_info_to_jira
      uses: HighwayThree/jira-upload-build-info@master
      with:
        client-id: 'cae7e8bb-a8ed-44b4-a1f8-da7b94708af1'
        client-secret: 'UnCxcSWb1sxBWAze9y3k'
        pipeline-id: '${{ github.repository }} ${{ github.workflow }}'
        build-number: ${{ github.run_number }}
        build-display-name: 'Workflow: ${{ github.workflow }} (#${{ github.run_number }})'
        build-state: "${{ env.BUILD_STATE }}"
        build-url: '${{github.event.repository.url}}/actions/runs/${{github.run_id}}'
        update-sequence-number: '${{ github.run_id }}'
        last-updated: '${{github.event.head_commit.timestamp}}'
        issue-keys: "${{ steps.jira_keys.outputs.jira-keys }}"
        commit-id: '${{ github.sha }}'
        repo-url: '${{ github.event.repository.url }}'
        build-ref-url: '${{ github.event.repository.url }}/actions/runs/${{ github.run_id }}'
    - name: Confirm Jira Build Output
      if: always()
      run: |
        echo "Jira Upload Build Info response: ${{ steps.push_build_info_to_jira.outputs.response }}"
        curl -X POST -H 'Content-type: application/json' --data '${{ steps.push_build_info_to_jira.outputs.response }}, "data": {"releaseVersion":"5.3.2"}}' "https://automation.atlassian.com/pro/hooks/a53aae5d84c64672265f49a009bb2ab9589eafbb"